body{
    margin:0;
    padding:0;
    font-family:'Inter',sans-serif;
    background:#f0f2f5;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    color: #1a1a1a;;
}

.login-container{
    width:380px;
    background:#e6e6e6;
    padding:35px;
    border-radius:16px;
    border:1px solid #ccc;
    box-shadow:0 10px 40px rgba(0,0,0,0.6);
}

h2{
    text-align:center;
    margin-bottom:25px;
    padding-bottom: 15px;
    color: #b62f2f;
    border-bottom: 1px solid #ccc;
}

.form-group{
    margin-bottom:16px;
}

label{
    font-size:0.85rem;
    color:#1a1a1a;
    margin-left: 3px;
}

input{
    width:94.4%;
    padding:10px;
    margin-top:6px;
    background:#d9d9d9;
    border:1px solid #bfbfbf;
    border-radius:8px;
    color:#1a1a1a;
    outline:none;
}

input:focus{
    border-color:#1a1a1a;
}

button{
    width:100%;
    padding:12px;
    margin-top:10px;
    border:none;
    border-radius:8px;
    background:#b62f2f;
    color:#f0f2f5;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#a22a2a;
}

.signup-link{
    text-align:center;
    margin-top:15px;
    font-size:0.9rem;
}

.signup-link a{
    color:#b62f2f;
    text-decoration:none;
}

.signup-link a:hover{
    text-decoration:underline;
}

.error{
    color:#b62f2f;
    font-size:0.85rem;
    margin-bottom:10px;
    text-align:center;
}