{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Live Vision</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
</head>
<body>
  <button class="go-home-btn" onclick="goHome()"><i class="fas fa-arrow-left"></i></button>
  <main class="main-container">
    <div class="tops-card">
      <h1>About LiveVision</h1>
      <p class="p1">
        LiveVision is an intelligent computer vision–based system designed to detect and 
        classify multiple objects simultaneously from a live video stream. The project utilizes 
        deep learning techniques to analyze real-time video frames and accurately identify 
        different object classes present in the scene. The LiveVision project has wide applications 
        in areas such as surveillance systems, traffic monitoring, smart security solutions, 
        retail analytics, and research-based computer vision. Its scalable and modular design allows future enhancements,
        integration with advanced analytics systems.
      </p>
    </div>
    <div class="about-container">
      <div class="about-card">
        <h3>💡 How to Use</h3>
        <p class="p2">
          • Start the application.<br>
          • Click on button-Start Detection<br>
          • Open will be Streaming page.<br>
          • You can use to need.<br>
          • View result to click Videos 
        </p>
      </div>

      <div class="about-card">
        <h3>⚙️ Key Features</h3>
        <p class="p2">
          • Real-time detection & tracking<br>
          • Fast image/video processing<br>
          • Personalized user dashboard<br>
          • Secure login system<br>
          • Interactive UI for visualization
        </p>
      </div>

      <div class="about-card">
        <h3>🧠 Powered by AI</h3>
        <p class="p3">
          LiveVision uses deep learning models built on modern computer vision frameworks.  
          The AI adapts dynamically to visuals, providing precise recognition across varied objects and environments.
        </p>
      </div>
    </div>

    <div class="tops-card">
      <h2>🔍 Why LiveVision?</h2>
      <p class="p4">
        The rapid growth of video surveillance systems and real-time monitoring applications 
        has created a strong need for intelligent solutions that can automatically analyze live 
        video streams. Traditional monitoring systems rely heavily on human operators, which is 
        time-consuming, error-prone, and inefficient, especially when dealing with large-scale 
        video data. This limitation motivated the development of the LiveVision System.
        This system is designed to address the challenge of identifying and analyzing multiple 
        objects simultaneously in real time.
      </p>
    </div>
    <div class="team-section">
      <div class="member">
        <h2>Meet the Developer</h2>
        <h3>This system develop by</h3>
        <h4>Mr. Rishikesh Kushwaha</h4>
        <p>Software Developer</p>
      </div>
      <a href="https://rishikesh0930-portfolio.onrender.com">👉 Click here</a>
      <l class="line">to view profile.</l>
    </div>
  </main>
  <footer>
    <p>© 2026 LiveVision | All Rights Reserved.</p>
  </footer>
  <script src="{% static 'js/about.js' %}"></script>
</body>
</html>