{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Live Vision</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
</head>
<body>
  <button class="go-home-btn" onclick="goHome()"><i class="fas fa-arrow-left"></i></button>
  <main class="main-container">
    <div class="tops-card">
      <h1>{{ about.title }}</h1>
      <p class="p1">{{ about.p1 }}</p>
    </div>
    <div class="about-container">
      {% for card in about.card %}
        <div class="about-card">
          <h3>{{ card.title }}</h3>
            <ul class="p2">
              {% for item in card.content %}
                <li> {{ item }}</li>
              {% endfor %}
            </ul>
        </div>
      {% endfor %}
      <div class="about-card">
        <h3>{{ about.p3_title }}</h3>
        <p class="p3">{{ about.p3 }}</p>
      </div>
    </div>
    <div class="tops-card">
      <h2>{{ about.p4_title }}</h2>
      <p class="p4">{{ about.p4 }}</p>
    </div>
    <div class="team-section">
      <div class="member">
        <h2>Meet the Developer</h2>
        <h3>This system develop by</h3>
        <h4>Mr. Rishikesh Kushwaha</h4>
        <p>Software Developer</p>
      </div>
      <a href="https://rishikesh0930-portfolio.onrender.com">👉 Click here</a>
      <l class="line">to view profile.</l>
    </div>
  </main>
  <footer>
    <p>© 2026 LiveVision | All Rights Reserved.</p>
  </footer>
  <script src="{% static 'js/about.js' %}"></script>
</body>
</html>