{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Live Vision</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/livestream.css' %}">
</head>
<body>
  <div class="full-container">
    <div class="video-box" id="videoBox">
      <div id="loader" style="display:none;">
        <div class="spinner"></div>
          <p style="margin-top:10px;">{{ stream.spinner }}</p>
        </div>
      <img id="videoStream" style="max-width:100%; height:auto; display:none;">
      <div class="live-indicator" id="liveStatus">
        <span class="dot"></span> {{ stream.startus }}
        <span id="timer" style="margin-left: 8px; font-size: 14px; color: #FFF;"></span>
      </div>
      <div id="videoText">{{ stream.video_text }}</div>
    </div>
    <div class="buttons">
      {% for item in stream.control_btn %}
        <button id="{{ item.id }}" class="{{ item.class }}" onclick="{{ item.function }}">{{ item.name }}</button>
      {% endfor %}
    </div>
    <div id="liveDataContainer" style="display: none; margin-top: 20px;">
      <table id="objectTable" border="1" style="width: 100%; text-align: left; border-collapse: collapse;">
          <thead>
              <tr style="background-color: #e6e6e6; color: #1a1a1a;">
                  <th style="padding: 8px; color: #b62f2f;">Object Name</th>
                  <th style="padding: 8px; color: #b62f2f;">Current Count</th>
              </tr>
          </thead>
          <tbody id="objectTableBody">
              <tr><td colspan="2" style="padding: 8px; text-align: center;">Waiting for data...</td></tr>
          </tbody>
      </table>
    </div>
  </div>
  <div class="description">
    <p>{{ stream.description }}</p>
    <a href="{% url stream.goDashboard %}">{{ stream.Dashboard }}</a>
  </div>
  <footer>
    <p>{{ stream.footer }}</p>
  </footer>
  <script src="{% static 'js/livestream.js' %}"></script>
</body>
</html>