{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Live Vision</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/start.css' %}">
</head>
<body>
  <nav class="indx-nav">
    <div class="indx-nav-btn">
      <a href="{% url 'signup-page' %}">Sign Up</a>
      <a href="{% url 'login-page' %}">Login</a>
    </div>
  </nav>
  <!-- Center content -->
  <div class="content">
    <h1>{{ start.welcome }}</h1>
    <p>{{ start.content }}</p>
    <button onclick="goToHome()">{{ start.btn }}</button>
  </div>
  <script src="{% static 'js/start.js' %}"></script>
</body>
</html>