{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Live Vision</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/video.css' %}">
</head>
<body>
  <button class="go-home-btn" onclick="goHome()">Go Back</button>
  <div class="card">
    <div class="title">
      <h1>Recordings</h1>
    </div>
    {% for video in active_videos %}
      <div class="video-item">
        <div class="vid_name">
          <span>{{ video.name }}</span>
        </div> <div class="video-actions">
          <a href="/media/{{ video.name }}" download class="btn play-btn">Download</a>
          <button class="btn delete-btn" onclick="confirmDelete({{ video.id }}, '{{ video.name }}')">Delete</button>
        </div>
      </div>
    {% empty %}
      <p>No videos available.</p>
    {% endfor %}
  </div>
  <script src="{% static 'js/video.js' %}"></script>
</body>
</html>